* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --corVerde: #2fc72f;
    --corVermelho: #ef4747;
    --corLembrete: #dfe9ed;
}

body {
    height: 100vh;
    width: 100vw;
}

#app {
    height: 100%;
    max-width: 412px;
}

header {
    padding: 1.5rem 2rem;
}

.header-top {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--corVermelho);
    font-size: 24px;
}

.header-top h2 {
    font-weight: normal;
}

.header-top i {
    font-size: 32px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profileSection {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 2rem 0rem;
}

.profileSection img {
    border-radius: 50%;
    height: 70px;
    width: auto;
}

.localizationSection {
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 12px;
    color: #aaa;
}

.localizationSection i {
    color: var(--corVermelho);
    font-size: 16px;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    height: 150px;
    padding: .75rem;
    margin: 0rem 2rem;
    background-color: var(--corLembrete);
    -webkit-box-shadow: 0px 4px 13px 0px rgba(221,221,221,1);
    -moz-box-shadow: 0px 4px 13px 0px rgba(221,221,221,1);
    box-shadow: 0px 4px 13px 0px rgba(221,221,221,1);
}

.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    justify-content: center;
}

.timePicker {
    display: flex;
    align-items: center;
}
.timePicker i {
    font-size: 28px;
    font-weight: bold;
}

.timePicker p {
    font-weight: bold;
    font-size: 24px;
}

.section-btn {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    width: 100%;
}

.section-btn button {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    flex: 1;
}

.green-btn {
    color: #fff;
    background-color: var(--corVerde);
    font-weight: bold;
    border: none;
    padding: .25rem;
    border-radius: 15px;
    -webkit-box-shadow: 0px 4px 13px 0px rgba(221,221,221,1);
    -moz-box-shadow: 0px 4px 13px 0px rgba(221,221,221,1);
    box-shadow: 0px 4px 13px 0px rgba(221,221,221,1);
}

.red-btn {
    color: #fff;
    background-color: var(--corVermelho);
    font-weight: bold;
    border: none;
    padding: .25rem;
    border-radius: 15px;
    -webkit-box-shadow: 0px 4px 13px 0px rgba(221,221,221,1);
    -moz-box-shadow: 0px 4px 13px 0px rgba(221,221,221,1);
    box-shadow: 0px 4px 13px 0px rgba(221,221,221,1);
}

.action-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 2rem;
}

.btn {
    display: flex;
    gap: 10px;
    width: 100%;
    margin-top: .5rem;
}

.btn button {
    padding: .5rem;
    flex: 1;
    height: 175px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--corVermelho);
    color: #fff;
    border: none;
    border-radius: 15px;
    font-size: 22px;
    font-weight: bold;
}

.progress {
    padding: .5rem;
    flex: 1;
    height: 175px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--corVermelho);
    color: #fff;
    border: none;
    border-radius: 15px;
    font-size: 22px;
    font-weight: bold;
}

.porcentagem {
    display: flex;
    align-items: center;
    border: 10px solid #fff;
    padding: 1.5rem;
    width: auto;
    height: 115px;
    border-radius: 50%;
}

#myProgress {
    font-size: 20px;
}

.btn button i {
    font-size: 64px;
    margin-top: .8rem;
}

footer {
    width: 100%;
    max-width: 412px;
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: space-around;
    border-top: 2px solid #222;
    padding: 1rem 2rem;
    height: 100px;
}

footer button {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border: none;
    background-color: transparent;
    color: #222;
    font-weight: bold;
    font-size: 16px;
    flex: 1;
}

footer button i {
    font-size: 45px;
}